     
     <body>
        <form method="post" action="/"  enctype="multipart/form-data">
            <label for="model-select">Ваша модель</label>
                <select name="model" id="model-select">
                <option value="">-- Выберите модель --</option>
                <option value="petersburg">"https://hf.global-rail.com/t-tech/T-lite-it-1.0-Q8_0-GGUF"</option>
                <option value="samara">Самара</option>
                <option value="perm">Пермь</option>
                <option value="novosibirsk">Новосибирск</option>
                </select>
                <input type="submit" value="submit" >

        </form>

     </body>
   
  

